#padder {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 60px;
}

.time {

    color: #fff61a;
    font-size: 48px;
    font-family: 'Shift', sans-serif;

}

#makeCenter {
    text-align: center;
}